/*
цвет макета - белый #FFFFFF;
цвет (section)- Список команды #F5F4FA
цвет(footer) background: #2F303A;
*/
/* 
основной цвет текста (чёрный)-#757575;
вторичный ( h1,h2,h3....)цвет текста (серый)- #212121;
цвет текста адреса (footer) - rgba(255, 255, 255, 0.6);
*/
/*цвет наведения (акцент) и фона (синий)- #2196F3;*/

/* 
основной шрифт 
font-family: Roboto;(sans-serif
font-weight: 400, 500, 700, 900;
второй шрифт
font-family: Raleway;sans-serif
font-weight: 700;
*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-grey-color: #f5f4fa;
  --secondary-grey-color: #2f303a;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* утилиты */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* для img */
/* img {
  display: block;
  max-width: 100%;
  max-height: auto;
} */
.no-clearance {
  display: block;
}

.line {
  border-bottom: 1px solid #ececec;
}

/* header */

.header {
  border: 1px solid #ececec;
}

.main-box,
.nav-box {
  display: flex;
  align-items: center;
  /* background-color: rosybrown; */
}

/* logo */
.logo {
  margin-right: 85px;
  padding-top: 24px;
  padding-bottom: 25px;

  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-accent {
  color: #000000;
}

/* nav */
.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
  /* outline: 2px solid coral; */
}

.site-nav .link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .current {
  color: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background: #2196f3;
}

/* address */
.site-address {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.site-address .item:not(:last-child) {
  margin-right: 30px;
}

.site-address .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms var(--timing-function);

  /* outline: 1px solid tomato; */
}

.site-address .link:hover,
.site-address .link:focus {
  color: var(--accent-color);
}

.icon-envelope,
.icon-smartphone {
  margin-right: 10px;
  fill: currentColor;
}

/* hero-overlay */
.hero-overlay {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  background-color: rgba(47, 48, 58, 0.8);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url("../images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  /* outline: 1px solid tomato; */
}

/* hero  */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  /* outline: 1px solid yellow; */
}

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  border: none;
  /* border: 1px, solid, transparent; */
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 250ms var(--timing-function);
}

.button:hover,
.button:focus {
  background-color: #188ce8;
}

/* section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.section-subtitle {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  /* background-color: cadetblue; */
}

/* Достоинство и преимущество нашей компании */
.dignity {
  display: flex;
}

.dignity .item {
  width: calc((100% -90px) / 4);

  /* background-color: aquamarine; */
}

.dignity .item:not(:last-child) {
  margin-right: 30px;
}

.dignity-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--primary-grey-color);
  border-radius: 4px;
}

.dignity .text {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* Род занятий */
.occupation {
  display: flex;
  text-align: center;
  /* background-color: violet; */
}

.occupation .item:not(:last-child) {
  margin-right: 30px;
}

.occupation .item {
  position: relative;
}

.lead {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* Список команды */

.team {
  background-color: var(--primary-grey-color);
}

.team-box {
  display: flex;
  /* background-color: chartreuse; */
}

.team-box .item {
  width: calc((100% -90px) / 4);
  text-align: center;
  background-color: var(--primary-white-color);
  overflow: hidden;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team-box .item:not(:last-child) {
  margin-right: 30px;
}

.content-team {
  padding-top: 30px;
  padding-bottom: 24px;
}

.list-team {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.prof {
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}

/* Иконки соц.сетей */
.socials {
  display: flex;
  margin-left: 32px;
  margin-right: 32px;

  /* outline: 2px solid tomato; */
}

.socials .icons:not(:last-child) {
  margin-right: 10px;
}

.icon-social {
  display: flex;
  justify-content: center;
  border-radius: 50px;
  width: 44px;
  height: 44px;

  color: #afb1b8;
  background-color: var(--primary-white-color);

  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.icon-social:hover,
.icon-social:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.social-network {
  fill: currentColor;
}

/* Список клиентов */
.company-box {
  display: flex;
}

.company-box .icons:not(:first-child) {
  margin-left: 30px;
}

.logo-border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  color: #afb1b8;
  border: 1px solid;
  border-radius: 4px;

  transition: color 250ms var(--timing-function);
}

.logo-border:hover,
.logo-border:focus {
  color: var(--accent-color);
}

.icon-logo {
  fill: currentColor;
}

/* portofolio main */
.breadcrumbs {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.breadcrumbs .btn:not(:last-child) {
  margin-right: 8px;
  /* outline: 1px solid turquoise; */
}

.button-list {
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--primary-grey-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: inherit;
  cursor: pointer;

  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.button-list:hover,
.button-list:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

/* work-box Примеры работ*/
.work-box {
  display: flex;
  flex-wrap: wrap;
}

/* .work-box  */
.work-item {
  width: calc((100% - 60px) / 3);
  border: 1px solid #eeeeee;

  transition: box-shadow 250ms var(--timing-function);

  /* outline: 2px solid aquamarine; */
}

.work-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.work-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.work-item:hover,
.work-item:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.work-thumb {
  position: relative;
  overflow: hidden;
}

.work-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.work-item:hover .work-overlay,
.work-item:focus .work-overlay {
  transform: translateY(0);
}

.desc-text {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 63px 24px;
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  text-decoration: none;
}

.holder {
  text-decoration: none;
}

.holder-desc {
  padding: 20px 24px;
}

.desc-title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}
.desc-subtitle {
  margin: 0;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
}

/* footer */
.footer {
  background-color: var(--secondary-grey-color);
}

.footer-box {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 48px;
  padding-bottom: 28px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.info-box > .logo {
  display: block;
  padding: 0;
  margin-right: 0;
  margin-bottom: 10px;

  /* outline: 1px solid blue; */
}

.info-box .accent {
  color: var(--primary-white-color);
}

.address {
  margin-bottom: 9px;

  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* background-color: violet; */
}

.contact .mail {
  margin-bottom: 9px;
}

.contact .link {
  display: block;

  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

/* Присоединяйтесь */
.join-box .socials {
  margin: 0;
}

.subscribe {
  display: block;
  margin-bottom: 21px;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.join-box .icon-social {
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.join-box .icon-social:hover,
.join-box .icon-social:focus {
  background-color: var(--accent-color);
}

/* Подпишись на рассылку */
.subscribe-input {
  display: flex;
}

.mail-input {
  padding: 15px 16px;
  min-width: 358px;
  margin-right: 12px;

  color: rgba(255, 255, 255, 0.6);
  background-color: var(--secondary-grey-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.mail-input::placeholder {
  /* padding: 12px 18px; */

  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  align-items: center;
}

.subscribe-btn {
  display: inline-flex;
  align-items: center;
}

.icon-send {
  margin-left: 10px;
}

.copyright {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 18px;
  padding-bottom: 21px;

  color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  text-align: center;
}

/* Модалка  */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
  /* opacity: 0; */
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;

  background-color: var(--primary-white-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  transition: transform 250ms var(--timing-function);
  /* opacity 250ms var(--timing-function), */
}

.form {
  display: flex;
  flex-direction: column;
  width: 528px;
  padding: 40px;
}

.form-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.form-field {
  margin-bottom: 20px;
}

.form-list:not(:last-child) {
  margin-bottom: 28px;
}

.form-label {
  position: relative;
  display: block;
}

.form-input {
  width: 100%;
  margin: 0;
  padding: 12px 16px;
  padding-left: 42px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms var(--timing-function);
}

.form-input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.form-write {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin-left: 42px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  transition: color 250ms var(--timing-function),
    transform 250ms var(--timing-function);
}

.form-input:focus + .form-write {
  transform: translate(-26px, -40px);
  color: var(--accent-color);
}

.label-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin-left: 16px;
  color: var(--title-text-color);
  transition: color 250ms var(--timing-function);
}

.form-input:focus ~ .label-icon {
  color: var(--accent-color);
}

.form-textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms var(--timing-function);
  resize: none;
}

.form-textarea:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.textarea-write {
  position: absolute;
  top: 12px;
  left: 0;
  margin-left: 16px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  transition: color 250ms var(--timing-function),
    transform 250ms var(--timing-function);
}

.form-textarea:focus + .textarea-write {
  transform: translateY(-32px);
  color: var(--accent-color);
}

.form-policy {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.checkbox-policy {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.accept-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 8.5px;

  border: 2px solid var(--title-text-color);
  border-radius: 2px;

  /* transition: transform 5500ms var(--timing-function); */
}

.checkbox-policy:checked + .accept-icon {
  /* transform: scale(1); */
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url("../images/check.svg");
  background-size: contain;
  background-origin: border-box;
}

.form-accept {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.accept-accent {
  color: var(--accent-color);
}

.button-check {
  margin-left: auto;
  margin-right: auto;
}

.form-button {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(9px, -9px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  cursor: pointer;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  border: 1px solid transparent;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
