.page-header__logo {
  margin-right: 85px;
  padding-top: 24px;
  padding-bottom: 25px;

  color: $accent-color;
  font-family: $logo-font-family;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-accent {
  color: #000000;
}
