@mixin centeredFlex($type: flex) {
  display: $type;
  align-items: center;
  justify-content: center;
}

// @mixin transition($property...) {
//   transition: $property;
// }
// transition: $property1 250ms $timing-function,
// $property2 250ms $timing-function;

// @mixin transition2($property2, $time, $timing-function) {
//   transition: $property2 $time $timing-function;
// }
