@mixin centeredFlex($type: flex) {
  display: $type;
  align-items: center;
  justify-content: center;
}

@mixin transition($property, $time, $timing-function) {
  transition: $property $time $timing-function;
}
